.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    padding-right: 4px !important;
    padding-left:4px !important;
}
.pl-20{
    padding-left: 20px !important;
}

a:hover{
    color: #fff !important;
}
.css-ict6bo{
    background-color: #fff !important;
    color: #000 !important;
}

.css-dnimke-MuiPaper-root-MuiCard-root{
    border-radius: 8px !important;
    padding: 12px !important;
}

.MuiModal-root css-79ws1d-MuiModal-root{
  display: 'flex' !important;
    padding: 2px !important;
    align-items: 'center' !important;
    justify-content: 'center' !important;
}
.css-kku8ba-MuiBackdrop-root-MuiModal-backdrop{
    background-color: rgba(0, 0, 0, 0.5) !important;
    background: rgba(0, 0, 0, 0.5) !important ;
}

.modal_{
   width: 70% !important;
   border: 2px solid #00001533 !important;
   padding: 16px 32px 24px !important;
   box-shadow: 0px 3px 5px -1px rgb(145 158 171 / 20%),
     0px 5px 8px 0px rgb(145 158 171 / 14%),
     0px 1px 14px 0px rgb(145 158 171 / 12%) !important;
   background-color: #fff !important;
   border-radius: 4px !important;
}
.modal-dlt{
   width: 20% !important;
   border: 2px solid #00001533 !important;
   padding: 16px 32px 24px !important;
   box-shadow: 0px 3px 5px -1px rgb(145 158 171 / 20%),
     0px 5px 8px 0px rgb(145 158 171 / 14%),
     0px 1px 14px 0px rgb(145 158 171 / 12%) !important;
   background-color: #fff !important;
   border-radius: 4px !important;
}

.css-vxcmzt{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important  ;
}

.modal-btn{
    display: flex !important;
    justify-content: flex-end !important;
}
.daniel-cancel{
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    color:  #102770;
 }
.daniel-cancel:hover,.daniel-cancel:active,.daniel-cancel:focus{
    background-color: #212b3614;
    outline: none;
}
.btn-dlt{
    padding:15px !important;
    font-size: 20px !important;
    color: #dc004e !important;
    box-shadow: none !important;
    background-color: transparent !important;
 }
 
.btn-dlt:focus,.btn-dlt:hover,.btn-dlt:active{
    padding:15px !important;
    font-size: 20px !important;
    color: #dc004e !important;
    box-shadow: none !important;
    background-color: transparent !important;
 }

.btn-group-outline{  
  height: 44px !important;
  font-size: 0.875rem !important;
  outline: 0px;
  font-weight: 700 !important;
  -webkit-transition : all 200ms linear !important;
  transition: all 200ms linear !important;
  padding: 5px 15px !important;
  letter-spacing: 1px !important;
  display: -webkit-inline-flex !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex 1 !important;
  -webkit-align-items: center !important;
  -moz-align-items: center !important;
  -ms-align-items: center !important;
  align-items: center !important;
  -webkit-justify-content: center !important;
  -moz-justify-content: center !important;
  -ms-justify-content: center !important;
  justify-content: center !important;
  -ms-flex-pack: center !important;
  text-align: center !important;
  border: 1px solid #37C6F4 !important;
  color: #37C6F4 !important;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2) !important;
}

.btn-group-active{  
  height: 44px !important;
  font-size: 0.875rem !important;
  outline: 0px;
  font-weight: 700 !important;
  -webkit-transition : all 200ms linear !important;
  transition: all 200ms linear !important;
  padding: 5px 15px !important;
  letter-spacing: 1px !important;
  display: -webkit-inline-flex !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex 1 !important;
  -webkit-align-items: center !important;
  -moz-align-items: center !important;
  -ms-align-items: center !important;
  align-items: center !important;
  -webkit-justify-content: center !important;
  -moz-justify-content: center !important;
  -ms-justify-content: center !important;
  justify-content: center !important;
  -ms-flex-pack: center !important;
  text-align: center !important;
  border: 1px solid transparent !important;
  color: #102770 !important;
  background-color: #37C6F4;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2) !important;
}
.btn-group-outline:focus,
.btn-group-active:focus,
.btn-icon:focus{
  outline: none !important;
}

.btn-group-active:hover,.btn-group-outline:hover{
    background-color: #102770 !important;
    color: #37C6F4 !important;
}

.btn-icon{
   padding:15px !important;
   font-size: 20px !important;
   color: #102770 !important;
   background-color: transparent !important;
}
.btn-icon:hover{
   padding:15px !important;
   font-size: 20px !important;
   color: #37C6F4 !important;
   background-color: transparent !important;
   box-shadow: none !important;
}

.css-18xrjjr-MuiButtonBase-root-MuiListItem-root:before{
    background-color: #37C6F4 !important;
}
.css-1s562cl-MuiTableCell-root{
    color: #212B36 !important;
    font-size: 0.875 !important;
    line-height: 1.5714285714285714 !important;
}
.css-429m73-MuiTableCell-root{
    border: 1px solid #919eab3d !important;
    padding: 8px !important;
}
.totals{
    font-weight: 600 !important;
}

.css-1450wqh-MuiListItemText-root{
    font-size: 16px !important;
    color: #212B36 !important;
}
.css-66mibm-MuiButtonBase-root-MuiTableSortLabel-root{
    font-size: 12px;
}
.table-heading{
    font-size: 16px !important;
    padding: 4px !important;
}   

.empty{
    border: none !important;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
.modal_{
    width: 80% !important;
 }
.pl-20{
    padding-left: 4px !important;
} 
}
